@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;font-size:12px;font-family:"Microsoft YaHei",Arial;background:#efefef;}
div,h1,h2,h3,h4,ul,ol,li,dl,dd,dt,p,table,caption,th,td,form,input,button,select,label,img,span,strong,a,b,i{margin:0;padding:0;}
h1,h2,h3,h4{font-weight:normal;}
ul,ol，li{list-style:none;}
img,input,button,select{border:none;background:none;vertical-align:middle;}
input,button,select{font-size:14px;font-family:"Microsoft YaHei",Arial;-moz-appearance:none;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;}

@media (min-width: 640px){
body{width: 640px; margin-left: auto; margin-right: auto;}
}

.box{width:100%;overflow:hidden;position:relative;}
.wrap{width:100%;overflow:hidden;position:relative;}

/*头部搜索*/
.head{width:100%;height:48px;background:#f2665f;position:relative;}
.head h1{width:100%;line-height:46px;font-size:18px;text-indent:12px;}
.head a{height:14px;margin:8px 0 0 10px;padding-top:18px;background:url(../images/index/logo_pic.png) no-repeat top center;background-size:18px auto;color:#fff;float:left;display:block;text-shadow:1px 1px 2px rgba(145,30,25,.7);-moz-text-shadow:1px 1px 2px rgba(145,30,25,.7);-webkit-text-shadow:1px 1px 2px rgba(145,30,25,.7);}
.head a b{margin:0 1px;}
.head p{width:50%;height:28px;border-bottom:1px solid #fff;position:absolute;left:50%;top:10px;margin-left:-27%;}
.head input{width:100%;height:28px;line-height:28px;text-indent:25px;color:#f5b9b9;background:url(../images/index/search.png) no-repeat 8px center;background-size:14px auto;}
.head i{width:1px;height:4px;position:absolute;bottom:0;background:#fff;display:inline-block;}
.head .weather{margin:9px 10px 0 0;float:right;}
.head .weather b{color:#fff;font-size:16px;vertical-align:middle;margin-right:5px;}
.head .weather img{width:30px;height:auto;}

/*底部导航*/
.nav{width:100%;height:50px;background:#f5f5f5;border-top:1px solid #e5e5e5;position:fixed;bottom:0;z-index:111;}
.nav li{width:25%;font-size:14px;text-align:center;float:left;}
.nav li a{width:100%;padding-top:27px;color:#666;background:url(../images/nav_icon.png) no-repeat;background-size:25px auto;display:block;}
.nav li .index{background-position:center 8px;}
.nav li .city{background-position:center -42px;}
.nav li .topic{background-position:center -143px;}
.nav li .my{background-position:center -194px;}
.nav li .nav_current{color:#f2665f;}

/*轮播*/
.slider{overflow:hidden;position:relative;}
.slider .banner{width:99999px;height:100%;position:absolute;left:0;top:0;}
.slider .banner li{overflow:hidden;height:100%;float:left;}
.slider .banner li img{width:100%;height:100%;}
.slider .circle{overflow:hidden;height:5px;overflow:hidden;position:absolute;left:50%;bottom:5px;}
.slider .circle li{width:5px;height:5px;background:#fff;border-radius:50%;margin:0 3px;float:left;}
.slider .circle .ban_current{background:#f26760;}

.main{width:100%;position:relative;padding:6px 0 60px;overflow:hidden;}
.main div{background:#fff;}
.main div h2{height:27px;line-height:27px;font-size:14px;border-bottom:1px solid #efefef;}

/*公交报站*/
.main .public{width:100%;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin-bottom:5px;position:relative;padding-bottom:5px;}
.main .public h2{color:#43b3cb;}
.main .public img{width:16px;margin-top:-3px;}
.main .public .bus{margin:-2px 3px 0 10px;}
.main .public .back{float:right;margin:5px 5px 0 0;width:14px;}
.main .public .tool{float:right;margin:5px 10px 0 5px;}
.public div{position:relative;padding:0 10px;line-height:21px;font-size:13px;}
.public div p{width:100%;overflow:hidden;color:#999;padding-top:3px;}
.public div p strong{font-family:Arial;font-size:18px;color:#5f6262;margin-right:8px;}
.public div p img{width:20px;margin-right:3px;}
.public div p span{color:#999;line-height:10px;}
.public div p i{font-style:normal;color:#000;color:#43b3cb;}
.public div p b{font-size:15px;color:#43b3cb;font-weight:normal;}
.public div p .village{font-size:18px;}
.public div a{color:#999;position:absolute;right:5px;top:50px;}

/*限行信息*/

.inform{width:100%;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin-bottom:5px;}
.inform .up{width:100%;overflow:hidden;}
.up .rulepay{width:75px;height:68px;text-align:center;color:#d63b3f;font-size:14px;line-height:16px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;float:left;}
.up .rulepay img{width:28px;margin:8px 0;}
.up .limit{height:68px;border-bottom:1px solid #efefef;float:left;}
.up .limit h2{color:#a379f9;}
.up .limit h2 b{color:#fff;background:#a379f9;padding:0 2px;font-weight:normal;margin:0 3px 0 6px;}
.up .limit h2 a{float:right;color:#a379f9;margin-right:5px;font-size:12px;}
.up .limit p{padding-left:8px;color:#4b4949;line-height:18px;padding-top:1px;}
.up .limit p i{font-style:normal;color:#a379f9;}
.up .video{height:68px;float:left;}
.inform .down{width:100%;overflow:hidden;}
.down .hospital{width:75px;height:70px;text-align:center;color:#69c2ef;font-size:14px;line-height:16px;border-right:1px solid #efefef;float:left;}
.down .hospital img{width:40px;margin:8px 0;}
.down .warn{height:70px;border-right:1px solid #efefef;float:left;}
.down .warn h2{color:#f2665f;}
.down .warn h2 .clock{width:14px;margin:-3px 3px 0 6px;}
.down .warn h2 .tool{width:16px;float:right;margin:5px 5px 0 0;}
.down .warn p{padding-left:6px;line-height:40px;color:#4b4949;}
.down .warn p span{color:#f2665f;font-size:15px;}
.down .yhwarn{height:70px;float:left;}
.down .yhwarn h2{color:#f1ae0e;}
.down .yhwarn h2 img{width:16px;margin:0 3px 0 6px;}
.down .yhwarn p{padding-left:6px;line-height:18px;color:#4b4949;padding-top:1px;}
.down .yhwarn p span{color:#f1ae0e;font-size:15px;}

/*手机市民卡*/
.main .phonecard{width:58%;height:64px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;float:left;background:url(../images/index/index_pic3.png) no-repeat #fff 97% center;background-size:30px auto;margin-bottom:5px;}
.phonecard a{padding-left:10px;height:65px;display:block;}
.phonecard h3{font-size:15px;color:#e40177;padding:7px 0;}
.phonecard li{font-size:12px;padding:2px 8px 0;float:left;background:url(../images/index/circle.png) no-repeat left center;background-size:5px auto;color:#555;}

/*手机营业厅*/
.main .phonehall{width:42%;height:64px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;float:left;position:relative;left:1px;background:url(../images/index/index_pic4.png) no-repeat 85% center #fff;background-size:30px auto;}
.phonehall a{padding-left:10px;height:64px;display:block;}
.phonehall h3{font-size:15px;color:#29abf0;line-height:64px;}

.main .index_ul1{width:100%;height:80px;clear:both;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.index_ul1 li{width:25%;height:80px;float:left;background:#fff;text-align:center;position:relative;}
.index_ul1 .index_li_last{margin-right:0;}
.index_ul1 li a{width:100%;height:100%;font-size:13px;color:#555;display:block;}
.index_ul1 li a img{width:30px;padding:12px 0 8px;}

.main .ul2_box{width:90%;height:60px;padding:0 5% 10px 5%;border-bottom:1px solid #e5e5e5;overflow:hidden;position:relative;}
.main .index_ul2{width:99999px;height:60px;background:#fff;position:absolute;left:5%;top:0;}
.index_ul2 li{height:60px;float:left;}
.index_ul2 li a{width:25%;height:60px;text-align:center;display:inline-block;color:#757575;float:left;}
.index_ul2 li a img{width:27px;padding:12px 0 8px;}
.ul2_box p{overflow:hidden;position:absolute;top:25px;font-size:18px;line-height:17px;text-align:center;}
.ul2_box p img{width:16px;}

/*选择路线*/
.choose{width:200%;background:rgba(0,0,0,.5)!important;z-index:999;background:#000;display:none;filter=Alpha(opacity=50);position:fixed;top:0;}
.choose .cho_wrap{width:42%;height:100%;background:#efefef;position:relative;}
.choose h1{width:100%;height:48px;line-height:46px;font-size:18px;text-indent:12px;background:#fff;position:relative;z-index:1;border-bottom:1px solid #e5e5e5;color:#555;}
.choose h1 img{width:9px;margin-right:5px;}
.choose h1 span{vertical-align:middle;}
.choose .cho_slide{width:70%;height:36px;border:1px solid #f2665f;border-radius:5px;margin:20px auto 0;}
.choose .cho_slide p{width:50%;float:left;font-size:16px;line-height:36px;text-align:center;color:#f2665f;}
.choose .cho_slide .cho_cur{background:#f2665f;color:#fff;}

.choose .cho_area{width:100%;position:absolute;left:0;top:76px;}
.cho_area .now_area{width:100%;height:45px;background:url(../images/index/icon16.png) no-repeat 15px center #fff;background-size:16px auto;line-height:43px;text-indent:35px;font-size:14px;color:#555;}
.cho_area .now_area span{margin-left:10px;color:#aaa;}
.cho_area .county{width:100%;height:45px;margin:20px 0 1px;background:#fff;position:relative;line-height:44px;font-size:14px;color:#aaa;position:relative;}
.cho_area .county span{margin-left:15px;}
.cho_area .county select{width:45%;height:36px;float:right;margin:4px 5% 0 0;color:#333;background:url(../images/index/arrow4.png) no-repeat 85% center;background-size:12px auto;}
.cho_area .street{width:100%;height:45px;background:#fff;position:relative;line-height:44px;font-size:14px;color:#aaa;}
.cho_area .street span{margin-left:15px;}
.cho_area .street select{width:45%;height:36px;float:right;margin:4px 5% 0 0;color:#333;background:url(../images/index/arrow4.png) no-repeat 85% center;background-size:12px auto;}
.cho_area .street .str_hide{display:none;}

.choose .cho_topic{width:100%;position:absolute;left:0;top:126px;display:none;}
.cho_topic .now_topic{width:100%;height:45px;background:url(../images/index/icon17.png) no-repeat 15px center #fff;background-size:16px auto;line-height:43px;text-indent:35px;font-size:14px;color:#555;}
.cho_topic .now_topic span{margin-left:10px;color:#aaa;}
.cho_topic h3{font-size:13px;color:#aaa;text-indent:15px;margin:15px auto 15px;}
.cho_topic ul{padding-left:15px;overflow:hidden;}
.cho_topic ul li{height:38px;line-height:38px;border:1px solid #e5e5e5;border-radius:5px;padding:0 12px;margin:0 18px 15px 0;background:#fff;color:#555;float:left;}

/*搜索*/
.search{width:100%;position:fixed;left:0;z-index:777;background:#fff;display:none;}
.search .search_head{width:100%;height:40px;padding-top:8px;background:#f8f8f8;border-bottom:1px solid #e3e3e3;position:relative;}
.search_head img{width:9px;margin:8px 15px 0 10px;float:left;}
.search_head div{width:60%;height:26px;line-height:26px;border-bottom:1px solid #999;float:left;position:relative;font-size:13px;}
.search_head div input{width:100%;height:26px;line-height:26px;background:url(../images/index/search1.png) no-repeat 8px center;background-size:14px auto;text-indent:5px;font-size:13px;position:relative;z-index:11;}
.search_head div i{width:1px;height:4px;position:absolute;bottom:0;background:#999;display:inline-block;}
.search_head div p{text-indent:25px;color:#b5b5b5;position:absolute;left:0;top:2px;}
.search_head button{width:60px;height:27px;background:#f2665f;color:#fff;border-radius:5px;margin-left:15px;float:left;}
.search h2{line-height:30px;margin:10px 0;font-size:16px;text-indent:5%;}
.search ul{padding:0 5%;overflow:hidden;}
.search ul li{width:28%;height:30px;line-height:30px;margin-right:8%;margin-bottom:10px;float:left;}
.search ul li.edge{margin-right:0;}
.search ul li a{width:100%;text-align:center;color:#fff;background:#ad85ee;border-radius:15px;display:inline-block;font-size:14px;}