@charset "utf-8";
/* CSS Document */
.detail{padding: 0 10px;overflow: hidden;}
.detail .top{width: 100%;overflow: hidden;margin-top: 20px;}
.detail .top .left{width: 60px;overflow: hidden;line-height: 24px;}













